@import url(//db.onlinewebfonts.com/c/a7e3822358f6dcb2f986a68cf24721b2?family=MV+Boli);
@font-face {font-family: "MV Boli"; src: url("//db.onlinewebfonts.com/t/a7e3822358f6dcb2f986a68cf24721b2.eot"); src: url("//db.onlinewebfonts.com/t/a7e3822358f6dcb2f986a68cf24721b2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a7e3822358f6dcb2f986a68cf24721b2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a7e3822358f6dcb2f986a68cf24721b2.woff") format("woff"), url("//db.onlinewebfonts.com/t/a7e3822358f6dcb2f986a68cf24721b2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a7e3822358f6dcb2f986a68cf24721b2.svg#MV Boli") format("svg"); }
* {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
  text-decoration: none !important;
}

body {
  margin: 0 auto;
  background: linear-gradient(
    125deg
    , #414552, #020719 20%, #020717);
    font-family: BPGArial2010;
    font-size: 14px;
    max-width: 100%;
    height: 1200px;
    line-height: 1.5;
}