.height-145 {
    height: 145px;
    content: " ";
}
.w-10 {
    width: 10%;
}
.h-10px {
    height: 6px;
}
.border1 {
    width: 30px;
    /* border-radius: 0px 0px 148px 0px / 0px 0px 150px 0px; */
}
.border2 {
    width: 45px;
    /* border-radius: 148px 0px 0px 0px / 150px 0px 0px 0px; */
}
.rotated {
    transform: rotateZ(-180deg);
}
.bg-section2 {
    background-color: #30343c;
}